.list-container {
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.header-users {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    gap: 5px;
}

.header-users img {
    width: 30px;

}

.header-title {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.646);
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-bar input {
    outline-width: 0;
    border: none;
    font-size: 1.25rem;
    width: 100%;

}

.user-list {
    overflow: scroll;
    flex: 0.7;
    flex: 1;
    scrollbar-width: none;
}

.user-container {
    padding: 5px 10px;
    background-color: white;
    border-radius: 15px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    padding: 15px 10px;
    margin: 10px;
    display: flex;
    gap: 10px;

}


.icon-user {
    font-size: 2rem;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.29);
    background-color: #f3f4f8;
}