.chatarea-container {
    display: flex;
    flex-direction: column;
    flex: .7;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 20px; */

}

.message-container {
    padding: 5px 15px;
    margin: 0px 10px;
    background-color: white;
    border-radius: 15px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}


.user-info {
    display: flex;
    gap: 20px;
}

.user {
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.message-icon {
    font-size: 2rem;
    background-color: #f3f4f8;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.29);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.message-title {
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.646);
}

.message-timeStamp {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
    align-self: flex-end;
    text-align: right;
}

.text-input {
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.text-input input {
    border: none;
    width: 100%;
    font-size: 1rem;
}

.otherMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;

}

.othersMessage {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;


}

.othersMessage-content {
    background-color: #f3f4f8;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.selfMessage {
    background-color: #09daad9b;
    border-radius: 15px;
    padding: 20px;
    justify-self: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.selfMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}